@font-face {
    font-family: "Figtree";
    src: url("assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("assets/fonts/static/Figtree-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Figtree";
    src: url("assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree";
    color: hsl(0, 0%, 7%);
    background-color: hsl(47, 88%, 63%);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: normal; */
    max-width: 550px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 25px; /* What is better for border radius px or rem ? */
    box-shadow: 10px 10px rgba(0,0,0); /* first parametr its shadow*/
    padding: 1.5rem;
    margin-bottom: 2rem;

}

.main-img {
    width: 100%;
    border-radius: 20px;
}

.tag {
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    padding: 0.5rem;
    margin: 1rem 1rem 1rem 0;
    border-radius: 5px;
}

.publication-date {
    margin: 0 1rem 1rem 0;
    font-weight: 600;
}

p {
    font-size: 1.5rem;
    color: hsl(0, 0%, 42%);
    margin-bottom: 1rem;
}

h1 {
    margin-bottom: 1rem;
}

h1 a{
    text-decoration: none;
    color: #000;
}

h1 a:hover, h1 a:focus {
    color: hsl(47, 88%, 63%);
}

.avatar-section {
    display: flex;
    justify-content: start;
    align-items: center;
}

.avatar {
    width: 32px;
    margin-right: 1rem;
}

.name {
    font-weight: 800;
}